:root {
  --primary-color: #5E59D6;
  --background-color: #fff;
  --primary-gradient-color: linear-gradient(-180deg, #D9E7FF 0%, #F9F9FE 100%);
  --text-color: #fff;
  --font-stack: sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-stack);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
