<h2>Over de Stemmen</h2>

<p>Rijk van Zanten & Danny de Vries kennen elkaar sinds het eerste jaar van de opleiding Communication and Multimedia design aan de Hogeschool van Amsterdam. Door de gezamenlijke interesse in technologie, het web en elke elke ander onderwerp wat op dat moment hip is raakte we aan de praat. Nadat Rijk verhuisde naar Amerika besloten we om onze gesprekken op te nemen met de Podcast 'Babbelbox' als resultaat.</p>
<p>Als Digital Designer heeft Danny meegedraait in de teams van We Brand Creative en Fabrique. Op het moment focust hij zich op zijn afstudeerproject met WebVR. Een halfjaar doet hij onderzoek naar Virtual Reality toepassingen op het web. </p>
<p>Rijk werkt als Web Developer op het moment voornamelijk aan het open-source CMS Directus. Een headless CMS dat tegen elk data type bestand is.</p>
