.button {
  background: transparent;
  transition: all 250ms;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  color: var(--primary-color);
  box-shadow: none;
  border: 2px solid var(--primary-color);
  font-size: 1.2vw;
}

@media all and (orientation: portrait) {
  .button {
    background: var(--primary-color);
    color: #fff;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 3vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
