article {
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  width: 100%;
  height: 25vh;
  position: relative;
  transition: transform 250ms;
  margin-bottom: 4em;
}

article h2 {
  margin-top: 0.2em;
}

.wrapper {
  padding: 1em;
}

@media all and (orientation: landscape) {
  article {
    width: 80%;
  }
}

article:hover {
  transform: scale(1.02);
}

article img {
  height: 100%;
}

article footer > *:not(:last-child) {
  margin-right: 1em;
}

