article {
  display: flex;
  align-items: center;
  background: var(--background-color);
  color: var(--primary-color);
  width: 100%;
  height: 15vh;
  position: relative;
  transition: transform 250ms;
}

.wrapper {
  padding: 1em;
}

@media all and (orientation: landscape) {
  article {
    width: 60%;
  }
}

article:hover {
  transform: scale(1.02);
}

article img {
  height: 100%;
}

article footer > *:not(:last-child) {
  margin-right: 1em;
}

