header h1 {
  margin: 0 0 0 0;
  text-align: right;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header ul li:not(:last-child) {
  margin-right: 2em;
}

header nav a {
  color: var(--text-color);
}

header p {
  width: 70%;
}
