.badges li {
  list-style-type: none;
  font-weight: 700;
}

.badges {
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 5vw;
  align-items: center;
}

.badges span {
  margin: 0em 3em;
  font-size: 1vw;
}
