:root {
  --primary-color: #003DFF;
  --background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);;
  --primary-gradient-color: -webkit-linear-gradient(-180deg, #0082FF 20%, #1600FF 100%);
  --font-stack: 'IBM Plex Mono', monospace;;
}

body {
  background: fixed var(--background-color);
  background-repeat: no-repeat;
  color: var(--primary-color);
  font-family: var(--font-stack);
  padding: 2em;
  height: 100vh;
}

header ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

section ul li {
  line-height: 2;
}

strong {
  font-weight: 700;
}
