body {
  max-width: 80%;
  margin: 0 auto;
}

section {
  margin-top: 3em;
}

@media all and (orientation: portrait) {
  body {
    max-width: 90%;
  }

  p {
    width: 100%;
  }
}


p {
  width: 70%;
}
