body {
  max-width: 80%;
  margin: 0 auto;
}

header {
  margin-top: 17vh;
}

section {
  margin-top: 3em;
}


p {
  width: 70%;
}

.wrapper header {
  margin-top: 0;
}

@media all and (orientation: portrait) {
  body {
    max-width: 90%;
  }

  p {
    width: 100%;
  }
}
