h1 {
  font-size: 8vw;
  margin: 0;
}

h2 {
  margin: 0;
  line-height: 1.5;
}

header p {
  font-size: 2vw;
}

.fab {
  font-size: 1.2vw;
}

p {
  line-height: 1.5;
}

footer span, footer time {
  font-family: monospace;
}

@media all and (orientation: portrait) {
  header p,
  header h2 {
    font-size: 4vw;
  }
}
