h1, h2, h3, h4 {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 10vw;
  font-weight: 700;
  margin: 0;
  background: var(--primary-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h2 {
  line-height: 1.5;
  font-weight: 200;
  font-size: 2.827em;
  background: var(--primary-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header p {
  font-size: 2.5em;
  line-height: 1.5;
}

p {
  font-size: 1.5em;
  line-height: 2;
  font-weight: 300;
}

summary {
  font-size: 1.5em;
}

@media all and (orientation: portrait) {
  header p {
    font-size: 1.5em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }

  .badges li {
    font-size: 1.5em;
  }

  header h2 {
    font-size: 1.5em;
  }

  summary {
    font-size: 1em;
  }
}
